<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Donors</title>
</head>
<body>
    <h1>List of Donors</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Blood Type</th>
            <th>Contact No</th>
            <th>Last Donation</th>
        </tr>
        {% for donor in donors %}
        <tr>
            <td>{{ donor.name }}</td>
            <td>{{ donor.age }}</td>
            <td>{{ donor.blood_type }}</td>
            <td>{{ donor.contact_no }}</td>
            <td>{{ donor.last_donation }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
